.input:hover {
    color: black;
}

.input{
    width: 50%;
}
.infos{
    display: contents;
}

.img{
    width: 30px;
}

.form{
    border: 1px solid;
    padding: 8px;
    border-color: white;
    border-radius: 14px;
    margin-bottom: 23px
}

.submit{
    border: 1px solid;
    background-color: coral;
    font-weight: 900;
    height: 36px;
    width: 70px;
}
.hometdiv{
    display: contents;
}

.channelname{
    color: rgb(255, 99, 99);
    font-size: 17px;
}